.align-center {
  text-align: center
}
/*uses class as a means of aligning text to center*/

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
}

a:active {
  color: orange;
}
/*pseudo-classes for styling of links*/

body {
  background: rgb(128, 147, 155);
}
/*site background color*/

header {
  border-radius: 15%;
  color: #96894b;
  font-family : cursive;
  background: rgb(2, 50, 70);
}
/*header styling*/

hr {
  height: 1px;
}

main {
  background: rgb(128, 147, 155);
}

img {
  width: 350px;
  display: block;
  margin: 7px;
  margin-left: auto;
  margin-right: auto;
  padding: 10;
}
/*image styling*/
