.align-center {
  text-align: center
}
/*uses class to center text*/

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
}

a:active {
  color: orange;
}
/*pesudo-classes used to style links*/

body {
  background: rgb(197, 202, 204);
}
/*page background color*/

header {
  border-radius: 15%;
  color: #c9c7be;
  font-family : cursive;
  background: rgb(2, 50, 70);
}
/*styles header*/
hr {
  height: 1px;
}

main {
  background: rgb(197, 202, 204);
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

ol {
  font-size: 20px;
}

/*establishes font sizes*/

img {
  width: 350px;
  display: block;
  margin: 7px;
  margin-left: auto;
  margin-right: auto;
  padding: 10;
}
/*styles images*/
